.frontpage_wrapper {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

._title {
  font-family: avenir-lt-w01_85-heavy1475544, sans-serif;
  font-size: 55px;
  padding: 0;
  margin: 0;
}

._logo {
  transform: rotate(-90deg);
  width: 120px;
  height: 120px;
}
